.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.corppass-intro-text {
  display: flex;
  gap: 4px;
}

.login-click-here {
  cursor: pointer;
}

a {
  background-color: transparent;
}

.sg-crest {
  width: 1.25rem;
  height: 1.75rem;
}

.sgds-masthead a {
  padding-left: 8px;
  display: flex !important;
  gap: 8px;
  text-decoration: none;
  display: inline-block;
  color: #474747;
  align-items: center;
}

.sgds-masthead {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  background-color: #f0f0f0;
  height: auto;
  padding: 4px 0;
  font-size: 14px;
}

.eyd-container {
  max-width: 1280px;
}

.eyd-container,
.eyd-container-lg {
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.appHeader {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #6b6c6e;
  box-shadow: 1px 2px 2px #00000033;
}

.logo {
  display: flex;
  width: 10vw;
  height: 8vh;
  padding: 8px;
}

.applogo {
  display: flex;
  width: 250px;
  gap: 15px;
  border: none;
}

.user-profiles {
  width: 100px;
  display: flex;
  gap: 10px;
}

.username-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.username-container img {
  height: 20px;
  width: 20px;
}

.empty-user-profiles {
  width: 250px;
}

.pageContent {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
  margin-top: 2px;
  min-height: 80vh;
}


.login-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #c7c7c799;
  height: 10vw;
}

.login-welcome {
  font-size: 2em;
  font-weight: bold;
}

.login-notice {
  margin: 10px;
}

.login__body-title {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login__announcement-title {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.login__announcement-content {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.appFooter {
  position: sticky;
  width: 100%;
  background-color: #6b6c6e;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__content {
  font-size: 14px;
  width: 100vw;
  margin: 20px;
}

.footer__top-section {
  display: flex;
  justify-content: space-between;
}

footer__links {
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;

}

.footer__bottom-section {
  border-top: 1px solid hsla(0, 0%, 100%, .25);
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.footer__links {
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}

.footer__watermark {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.footer__link {
  fill: #ffffff;
  align-items: center;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  transition: border-bottom .2s ease-in-out;
}

.upcoming-task {
  display: "flex";
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
}

.dash-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.saved-draft {
  margin: 10px !important;
}

.submitted-application {
  margin: 10px !important;
}

.rowgap-vbox {
  justify-content: center;
  align-self: center;
  margin: 10px !important;
}

.fi-action-container {
  gap: 8px;
  justify-content: center;
  align-self: center;
  margin: 10px !important;
}

.criclebox {
  font-weight: 700;
  height: 100%;
}

.criclebox:hover {
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.fiactionbox {
  font-weight: 700;
  height: 100%;
  background-color: #6b6c6e;
  color: #ffffff;
}

.fiactionbox:hover {
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  color: #6b6c6e;
}

.multi-step-form {
  width: 70%;
}

.form-main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-button-with-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stacked-labels {
  display: flex;
  flex-direction: column;
}

.small-label {
  font-size: 10px !important;
}

.collapsable-container {
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;
}

.collapsable-header {
  cursor: pointer;
  padding: 1px 20px;
  border-radius: 8px 8px 8px 8px;
  color: #ffffff;
  background-color: #6b6c6e;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}

.collapsable-content {
  padding: 10px;
}

.app-back-button-container {
  display: flex;
  position: relative;
  top: 45px;
  right: -33%;
}

.mui-table {
  margin: -16px;
}

.app-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 50%;
  margin: 20px;
}

.app-header-container {
  text-align: center;
}

.status-main-container {
  margin: 20px;
}

.app-button-container {
  display: flex;
  justify-content: space-between;
}

.pre-app-button-container {
  display: flex;
  justify-content: center;
}

.app-form-container {
  margin: 20px;
}

.card-content-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  flex: 1 !important;
  min-height: 50px !important;
  text-align: center !important;
  min-width: 75px !important;
  margin: 5px !important;
  padding: 0px !important;
  font-size: 10px !important;
}

.box-line {
  width: 100%;
}

.ant-card-body {
  padding: 5px !important;
}

.mb-23 {
  display: flex !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  flex: 1 !important;
  text-align: center !important;
  margin: 5px !important;
  padding: 0px !important;
}

.mb-24 {
  display: flex !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  flex: 1 !important;
  text-align: center !important;
  margin: 3px !important;
  padding: 0px !important;
}

.view-main-container {
  width: 100%;
}

.view-form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: #fafafa;
  border-radius: 8px;
  min-height: 40vw;
  height: 100%;
}

.view-form-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.view-form-content {

  margin: 0px 30px 5px 30px;
}

.view-form-sep {
  margin: 5px;
}

.form-row {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 8px;
}

.form-label {
  font-weight: 600;
}

.view-select-action-container {
  margin-top: 10px;
  padding: 12px;
}

.case-label {
  font-weight: 700;
}

.loa-case-td {
  text-align: center;
  width: 50%;
}

.loa-case-th {
  background-color: #474747;
  text-align: center;
  color: #ffffff;
  width: 50%;
  font-weight: 700;
}

.striped {
  width: 100%;
}

.comment-column-style {
  width: 33%;
}

.comment-body-style {
  text-align: center;
}

.login-container {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 100px 50px 50px 50px;
  background: #fafafa;
  border-radius: 8px;
  margin: 20px;
}

.back-button-container {
  display: flex;
  position: relative;
  top: 4%;
  right: -10%;
  flex-direction: row-reverse;
}

.view-back-button-container {
  display: flex;
  position: relative;
  margin: 10px;
  right: -27%;
  width: 0px;
}

.svg-crest-style {
  content: "\E948";
  color: #db0000;
}

.right-nav {
  display: flex;
  width: 250px;
  gap: 15px;
}

.settings-icon svg {
  width: 22px;
  height: 22px;
}

.app-drawer-icon svg {
  width: 22px;
  height: 22px;
}

.timeline-icon svg {
  width: 22px;
  height: 22px;
}

.notif-icon svg {
  width: 22px;
  height: 22px;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.card-icon-container svg {
  width: 18px;
  height: 18px;
}

.gift-button-container {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 95vw;
  margin: 20px;
}

.indv-chart-title {
  text-align: center;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-dense.css-g2tram-MuiToolbar-root {
  border-radius: 0 0 8px 8px;
}